@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

.App {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding-top: 50px;
}

nav {
	background-color: #fff;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
ul {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li a {
	color: rgb(196, 32, 38);
	padding: 15px;
	text-decoration: none;
}

#image {
	border-radius: 50%;
	flex: 100%;
	max-width: 100%;
}

h2 {
	text-align: center;
}

section {
	padding: 20px;
	margin: 15px auto 0;
}

.container {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;
	max-width: 700px;
	margin: 0 auto;
}

.video-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 700px;
	margin: 0 auto;
}

.social-ul a {
	font-size: 32px;
}

footer {
	background-color: #fff;
	color: rgb(196, 32, 38);
	padding: 15px;
	text-align: center;
}

.bg-red {
	background-color: rgb(196, 32, 38);
}

.img-div p {
	background-color: #eee;
	font-size: 14px;
	margin: 0;
	padding: 5px;
	text-align: center;
}

.responsive-image {
	display: block;
	max-width: 100%;
}

.video-wrapper {
	margin: 10px;
	border: 2px solid red;
}

.c-w {
	color: #fff;
}

.tribute-info {
	max-width: 450px;
	margin: 0 10px;
}
