@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#image {
	display: block;

	border-radius: 50%;
	max-width: 70%;
	min-width: 50%;
	max-height: 70%;
	min-height: 50%;
}

#img-div {
	flex-direction: column;
	display: flex;
}

container {
	display: flex;
	flex-direction: row;
	flex-basis: auto;
}

.App {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.App-header {
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: black;
}

#tribute-link {
	color: rgb(196, 32, 38);
}
